.task-detail-container {
  background-color: var(--light);
  padding: 20px;
  border-radius: 8px;
  margin-top: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-detail-container h1 {
  font-size: 28px;
  margin-bottom: 15px;
}

.task-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.task-detail-container .task-title {
  color: var(--blue);
}
.task-detail-container .task-meta p {
  color: var(--yellow);
}

.task-detail-container .task-content {
  color: var(--yellow);
}

.task-meta p {
  font-size: 16px;
  color: var(--dark-grey);
}

.task-meta a {
  color: var(--blue);
  text-decoration: none;
}

.task-meta a:hover {
  text-decoration: underline;
}

.task-content {
  margin-bottom: 20px;
}
.task-content button {
  padding: 10px 20px;
  margin: 2% 10px;
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: var(--blue);
  color: var(--light);
}

.close-modal {
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: var(--blue);
  color: var(--light);
}

.task-content h2 {
  color: var(--dark);
  font-size: 24px;
  margin-bottom: 10px;
}

.task-content p {
  color: var(--dark);
  font-size: 16px;
  margin-bottom: 15px;
}

.task-content a {
  color: var(--blue);
  text-decoration: none;
}

.task-content a:hover {
  text-decoration: underline;
}

.task-uploads {
  margin-top: 20px;
}

.task-uploads h3 {
  color: var(--orange);
  font-size: 20px;
  margin-bottom: 10px;
}

.task-upload {
  margin-bottom: 15px;
}

.task-upload p {
  font-size: 16px;
  margin-bottom: 8px;
}

.error-message {
  color: var(--red);
  font-size: 16px;
  margin-top: 20px;
}

.task-content .no-task-message {
  font-size: 16px;
  margin-top: 20px;
  font-style: oblique;
  color: var(--orange);
}
